@for (var i = 0; i < ViewBag.countPoints; i++)
{
	<div class="form-inline">
		<label for="formGroupExampleInput2">Координаты точки №@(i+1) </label>
		X - <input type="number" style="width: 80px" id="checkPointX">
		Y - <input type="number" style="width: 80px" id="checkPointY">
	</div>
}
	<input type="button" class="btn btn-primary" value="Проверить точку" onClick="AnalysisPolygon()" />
